@import "../../styles/main.scss";

.main {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
   display: flex;
   margin-bottom: 40px;

   &-home {
    @include height-width(16px, 16px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../public/images/Home.png);
    margin-right: 15px
   }

   &-vector {
    @include height-width(16px, 16px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../public/images/Vector.png);
    margin-right: 15px
   }

    &-text {
      color: $color-secondary;
    }

    &-text:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: $fs-48;
    font-weight: $fw-800;
    color: $color-white;
    line-height: 56px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  &__sorts {
    display: flex;
  }
}

.device__count {
    font-weight: $fw-600;
    font-size: $fs-14;
    line-height: 21px;
    color: $color-secondary;

    &-margin {
      margin-bottom: 40px;
    }
}

.sorts__item {
  margin-bottom: 4px;

  &-margin {
    margin-right: 16px;
  }
}

.sorts__text {
  font-weight: $fw-700;
  font-size: $fs-12;
  line-height: 15px;
  color: $color-secondary;
  margin-bottom: 4px;
}

.sorts__select {
  @include height-width(40px, 176px);
  background: $color-surface-2;

  font-weight: $fw-700;
  font-size: $fs-14;
  line-height: 21px;
  color: $color-white;
}

