@import "../../styles/main.scss";


.menu {
  position: fixed;
  display: block;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateX(-100%);
  transition: transform $transition-time;
  border: none;

  @include pad {
    display: none;
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: #2A2932;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform $transition-time;
  }

  &__items {
    margin-top: 32px;
  }

  &__link {
    position: relative;
    color: $color-secondary;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    transition: color 0.3s;

    &:hover {
      color: $color-white;
      &::after {
        content: "";
        position: absolute;
        top: 33.5px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $color-white;
      }
    }
  }
  &__header-bottom {
    @include phone {
      display: flex;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    border: 1px solid $color-elements;
    margin-top: 32px;
    position: fixed;
    bottom: 50px;
    
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 64px;
      border: 1px solid $color-elements;
      margin: 0;

      &:hover {
        border-bottom: 2px solid $color-white;
      }
    }
  }
}

.menu.active {
  transform: translateX(0);
  border: none;
  overflow-y: hidden;
}
