.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.card {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  @include height-width(506px, 272px);
  background-color: $color-surface-1;
  color: $color-white;

  &:not(:nth-child(4n)) {
    margin-right: 16px;
  }

  &__img {
    @include height-width(208px, 196px);
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &__description-content {
    margin: 0 32px 0 32px;
  }

  &__product-title {
    font-weight: 600;
    font-size: $fs-14;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 8px;
  }

  &__price {
    display: inline-block;
    font-weight: 800;
    font-size: $fs-22;
    margin: 0;
    margin-bottom: 8px;
  }

  &__price--old {
    margin-left: 5px;
    color: $color-secondary;
  }

  &__decorative-line {
    height: 1px;
    margin-bottom: 16px;
    background-color: $color-elements;
  }

  &__product-description {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    font-size: $fs-12;
    color: $color-secondary;
    margin-bottom: 8px;
  }

  &__features {
    font-size: $fs-12;
    color: $color-white;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
