@import '../../styles/main.scss';

.product-slider {
  &__grid-container {
    position: relative;
    align-items: center;
    margin-bottom: 24px;
    max-width: 1200px;
  }

  &__button-wrapper {
    position: absolute;
    right: 16px;
    display: flex;
    width: 80px;

    @include pad {
      right: 24px;
    }

    @include desktop {
      right: 32px;
    }
  }
}

.product-slider-cards {
  display: flex;
  max-width: 1200px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  flex-grow: 0;
  overflow: hidden;

  @include pad {
    padding-left: 24px;
  }

  @include desktop {
    padding-left: 32px;
    padding-right: 32px;
  }

  &__item {
    flex: 1 0 24%;
    margin-right: 16px;

    &:nth-child(4) {
      margin-right: 32px;
    }
  }
}
